@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:wght@100..900&display=swap');

body{
    margin: 0px auto;
    max-width: 1600px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#preloader{
    background:  url('images/loader.gif') no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #eee;
  }

  .heading-section{
    position: relative;
  }

  .heading-section img{
    width: 20px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
  }

  #highlight-heading img{
    right: 38%;
  }

  #pl-heading img{
    right: 38%;
  }

  #amenities-heading img{
    right: 42%;
  }

  #gallery-heading img{
    right: 40%;
  }

  #video-heading img{
    right: -3%;
  }

  #specification-heading img{
    right: 38%;
  }

  #highlight-heading img {
    right: 17%;
}

 .heading-section ~ hr, .heading-section hr{
    color: #45a049;
    background-color: #45a049;
    height: 3px;
    width: 10%;
    margin: 10px auto 0 auto;
    display: flex;
    opacity: 1;
  }

ul {
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.common-btn{
    padding: 10px 35px;
    background-color: #45a049;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    width: max-content;
}

.common-btn:hover{
    background-color: #4CAF50;
    color: #fff;
}

.section_lg{
    padding: 60px 0px;
}

.common-heading{
    margin-bottom: 0;
}

.green-heading{
    color: #45a049;
}

.secondary-color{
    color: #1e1e1e;
    font-weight: 500;
}

/* header css start */

#header{
    position: relative;
}

.swiper-slide img{
    height: 650px;
    width: 100%;
}

.header-inner{
    background: #ffffffd9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 12px 20px;
}

.left-header-inner img{
    width: 150px;
}

.right-header-inner a{
    margin: 0px 20px;
    color: #1d4951;
    font-weight: 600;
    font-size: 18px;
}

.right-header-inner .contact-link{
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #b3cfd3;
    border: 1px solid #0f6e7d;
}

.right-header-inner a:hover{
    color: #0f6e7d;
}

.home-banner-content{
    position: absolute;
    left: 23%;
    top: 83%;
    transform: translate(-50%, -50px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.enquiry-btn{
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #45a049;
    transition: all .3s ease;
}

.enquiry-btn:hover{
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #45a049;
    color: #fff;
    border: 1px solid #45a049;
}

.enquiry-btn span{
    margin-left: 5px;
}

.enquiry-btn:hover .fas.fa-arrow-right{
    transform: rotate(-40deg);
}

/* header css end */

/* logo section css start */

.logo-section img{
    /* width: 150px; */
    height: 70px;
}

.logo-section{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

/* logo section css end */

/* about section css start */

.about-section{
    display: grid;
    grid-template-columns: 4.5fr 7.5fr;
    gap: 50px;
}

.left-about img{
    width: 100%;
}

.right-about{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.right-about h2{
    font-weight: 700;
}

.right-about p{
    line-height: 1.8;
}

.leaf-img{
    position: absolute;
    right: 55%;
    top: -2%;
    width: 30px;
}

.listing li{
    padding: 10px 0px;
    color: #1e1e1e;
    font-weight: 500;
}

.listing li:hover{
    color: #45a049;
}

/* about section css end */

/* project highlight section css start */

.project-highlight-section{
    background-image: url('images/about-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
    position: relative;
}

.highlight-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
}

.project-highlight-section h2{
    position: relative;
    z-index: 1;
}

.highlight-inner{
    display: grid;
    grid-template-columns: 4.5fr 7.5fr;
    gap: 30px;
    position: relative;
    z-index: 1;
    padding: 50px 0px;
}

.right-highlight{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    row-gap: 50px;
}

.right-highlight-item{
    display: flex;
    gap: 20px;
}

.right-highlight-item img{
    width: 40px;
    height: 40px;
}

/* project highlight section css end */


/* amenities section css start */

.amenities-section{
    background-color: #f9f9f9;
}

.amenities-section .enquiry-btn{
    display: flex;
    width: max-content;
    margin: 40px auto 0px auto;
    background-color: #45a049;
    color: #fff;
    font-weight: 500;
    border: 1px solid #45a049;
    padding: 10px 25px;
}   

.amenities-section .enquiry-btn:hover{
    background-color: #fff;
    color: #1e1e1e;
}

.amenities-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.amenities-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    position: relative;
}

.amenities-item img{
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.amenities-item h6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.amenities-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* amenities section css end */

/* photo gallery section css start */

.photo-gallery-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
}

.photo-gallery-inner img{
    width: 100%;
    height: 270px;
    cursor: pointer;
}

.gallery-div {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 50px 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* The Close Button */
  .gallery-div .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    width: 50px;
    height: 50px;
    font-weight: bold;
  }
  
  .gallery-div .close:hover,
  .gallery-div .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }

  .mySlides img{
    width: 50%;
    margin: 0px auto;
    display: flex;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 10%;
    border-radius: 3px 0 0 3px;
  }
  
  .prev {
    left: 10%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* photo gallery section css end */

/* property layout css start */

.property-layout-inner{
    margin-top: 50px;
}

.property-layout-inner .d-flex-col{
    background-color: #f9f9f9;
    padding: 40px;
}

.tab-section-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.left-tabsection{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.TabButton {
    width: 100%;
  color: #53585a;
  border: 0;
  margin: 0;
  text-align: center;
  padding: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
}

.TabButton:hover{
    background-color: #cfcfcf;
    border: 1px solid #45a049;
    color: #1e1e1e;
}

.TabButtonSelected {
  color: #fff;
  background-color: #45a049;
  font-weight: 500;
}
.d-chart-n {
display: none;
}

.d-chart-show {
display: block;
}

.right-tabsection img{
    width: 100%;
}

/* property layout css end */

/* video section css start */

.video-section{
    background-image: url('images/home-banner1.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.video-preview{
    width: 80%;
    margin: 0px auto;
    display: flex;
    border-radius: 20px;
    border: 5px solid #fff;
    position: relative;
}

.video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

.video-content{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    position: relative;
    padding: 50px 0px;
}

.video-content i{
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 65%;
    left: 50%;
    z-index: 2;
    margin-top: 20px;
}

.player-wave{
    padding: 0;
    z-index: 1;
    width: 120px;
    height: 120px;
    top: 72%;
    left: 51%;
    position: absolute;
    transform: translate(-54%, -66%);
}

.player-wave .waves{
    background: #45a049;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    opacity: 0;
    filter: alpha(opacity = 0);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: 3s ease-in-out 0s normal none infinite running waves;
    -o-animation: 3s ease-in-out 0s normal none infinite running waves;
    animation: 3s ease-in-out 0s normal none infinite running waves;
}

.player-wave .wave-1{
    animation-delay: 0s;
}

.player-wave .wave-2{
    animation-delay: 1s;
}

.player-wave .waves .wave-3{
    animation-delay: 2s;
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        -ms-transform: scale(0.2, 0.2);
        -o-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        filter: alpha(opacity = 0);
    }
    
    50% {
        opacity: 0.9;
        filter: alpha(opacity = 90);
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        filter: alpha(opacity = 0);
    }
}

/* Modal styles */
.video-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  
  .video-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    position: relative;
    border-radius: 10px;
  }
  
  .video-modal .close {
    color: #aaa;
    position: absolute;
    top: -10%;
    right: -15%;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .video-modal .close:hover,
  .video-modal .close:focus {
    color: #fff;
  }
  
  .video-modal .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  
  .video-modal .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

/* video section css end */

/* specification section css start */

.specification-inner{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.specification-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: #fff;
    color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px #45a049;
}

.specification-item h6{
    color: #fff;
}

.spec-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #45a049;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.spec-heading img{
    width: 25px;
    height: 25px;
}

.specification-item ul{
    list-style-type: disc;
    padding-left: 20px;
}

/* specification section css end */


/* testimonial section css start */

.testimonial-section{
    background-color: #f9f9f9;
}

.testimonial-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 50px;
}

.testimonial-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 30px;
}

/* testimonial section css end */

/* map section css start */

.map-section img{
    width: 100%;
}

/* map section css end */


/* footer section css start */

#footer{
    background-color: #53585a;
    color: #fff;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-form{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    color: #1e1e1e;
}

input[type='submit']{
    display: flex;
    margin: 0px auto;
}


.footer-imgs{
    display: flex;
    gap: 20px;
}

.footer-imgs img{
    width: 130px;
    height: 130px;
    padding: 10px;
    background-color: #fff;
}

.footer-item .rera-img{
    width: 100%;
}

.footer-item ul li{
    padding: 10px 0px;
}

.footer-item ul li a:hover{
    color: #fff;
    text-decoration: underline;
}

.footer-item input.subscribe{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    outline: unset;
    padding: 10px;
}

.footer-item input::placeholder{
    color: #fff;
}

.lower-footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.lower-footer .social-icons a{
    margin: 0px 10px;
}

.lower-footer .social-icons a:hover{
    color: #fff;
}

/* footer section css end */

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
  }
  
  .close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Form Styles */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }


  
/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cfcfcf;
    padding: 10px;
}

.mobile-menu-container .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-container .logo p{
    line-height: 1;
    display: none;
}

/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #1d4951;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #1d4951;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#27826f;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #fff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:20px 0 20px 0;  font-weight: 700;}
.menu li:hover{display: block;    background-color: #fff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#27826f;font-size: 14px;}
.menu ul li a:hover {  color: #27826f; text-decoration:none;}
.menu a{text-decoration:none; color:#27826f;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #132b2c; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #27826f;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #27826f;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #27826f;
    padding: 10px 20px !important;
    margin-top: 10px;
}

.hamburger, .cross, .menu{
  display: none;
}

.logo img{
    width: 80px;
    height: 50px;
    /* background-color: #fff; */
}

  @media screen and (max-width:450px){
    .header-inner{
        display: none;
    }

    .section_lg{
        padding: 50px 20px;
    }

    .swiper-slide img {
        height: auto;
        width: 100%;
        margin-top: 70px;
    }

    p, .footer-item li{
        font-size: 14px;
    }

    .enquiry-btn{
        font-size: 13px;
        padding: 5px;
    }

    .mobile-header{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1111;
        right: 0;
    }

    .logo-section, .property-layout-inner .d-flex{
        flex-direction: column;
    }

    .home-banner-content {
        top: 107%;
    }

    .logo-imgs{
        display: flex;
    }

    .logo-section h3{
        font-size: 16px;
    }

    .about-section, .amenities-inner, .photo-gallery-inner, .tab-section-inner, .specification-inner, .footer-inner, .highlight-inner, .right-highlight{
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
    }

    .highlight-inner, .video-content{
        padding: 0;
    }

    .player-wave {
        width: 80px;
        height: 80px;
        top: 88%;
    }

    .video-content i {
        font-size: 16px;
        top: 82%;
        left: 49%;
    }

    .video-preview {
        width: 100%;
        height: 250px;
    }

    .property-layout-inner .d-flex-col{
        padding: 20px;
    }

    .mySlides img {
        width: 90%;
    }

    .video-content h2 {
        font-size: 36px;
    }

    .footer-item ul{
        margin: 0;
    }

    .lower-footer {
        padding: 20px;
        font-size: 14px;
    }

    .leaf-img {
        position: absolute;
        right: 26%;
        top: -1%;
        width: 20px;
    }

    .left-highlight h2{
        text-align: center;
    }

    .right-highlight-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .logo img {
        width: 100%;
        height: 50px;
    }

    .right-highlight-item img {
        width: 30px;
        height: 30px;
    }

    #highlight-heading img{
        right: 3%;
      }
    
      #pl-heading img{
        right: 10%;
      }
    
      #amenities-heading img{
        right: 22%;
      }
    
      #gallery-heading img{
        right: 16%;
      }
    
        #video-heading img {
            right: 6%;
            top: 74%;
        }
    
      #specification-heading img{
        right: 15%;
      }
    
      .heading-section ~ hr{
        color: #45a049;
        background-color: #45a049;
        height: 3px;
        width: 15%;
        margin: 10px auto 0 auto;
        display: flex;
        opacity: 1;
      }
  }